//colors
$primary:#ff7a7a;
$primary-bg-btn:#38cc8c;
$primary-btn-hover: #77e2b3;
$accent:#6055a5;
$neutral-border: #3e3c49;
$neutral:#b9b6d3 ;
$white: #fff;

//fonts
$main-font: "Poppins", sans-serif;
$normal: 400;
$bold :700;
$medium: 500;
$semi-bold:600;